# Ignore training runs
runs/

# Ignore cache
__pycache__/
*.pyc

# Ignore virtual env
venv/

# Ignore datasets if too large
dataset/

# Ignore all model weights EXCEPT final model
*.pt
!models/best.pt